.mmt__chat-body {
    width: 100vw;
    background-color: aquamarine;
    padding: 20px;
}

.mmt__chat-container {
    /* padding: 20px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mmt__chat-box{
    
    display: flex;
    flex-direction: row;
}
.mmt__chat-info{
    margin-left: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
.mmt__chat-info_content{
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    background-color: rgb(255, 255, 255);
}
.mmt__chat-info_content-icon{
    margin: 4px;
}

.mmt__chat-vote{
    
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mmt__chat-ask_info {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.mmt__chat-ask_info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mmt__chat-ask_info p {
    margin-left: 5px;
    font-size: 25px;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.mmt__chat-ask_content h1 {

}

.mmt__chat-ask_content h5{
    font-weight: 300;
}