.contact {
    background: linear-gradient(90.21deg, #ffff63 -5.91%, #900018 80.58%);
    padding: 60px 0 100px 0;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    
    .contact-box {
        display: flex;
        /* background-color: #900018; */
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contact-box-img {
            /* background-color: aliceblue; */
            width: 90%;

            img {
                width: 90%;
                animation: updown 3s linear infinite;
            }
        }

        .contact-box-form {
            width: 100%;
            /* height: 100%; */
            /* background-color: red; */
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                font-weight:400;
                margin: 20px;
            }
            .contact-box-form-row {
                width: 100%;
                display: flex;

                input {
                    width: 100%;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 10px;
                    color: #fff;
                    margin: 0 0 8px 0;
                    padding: 18px 26px;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                    transition: 0.3s ease-in-out;

                    width: 50%;
                    margin: 3px 2px;
                    padding: 8px 10px;
                    font-size: 10px;
                    font-weight: 400;
                }

                input:focus {
                    background: rgba(255, 255, 255, 1);
                    color: black;
                    
                }

                input:focus::placeholder{
                    color: black;
                }
            }

            .contact-box-form-textarea {
                /* display: flex; */
                /* background-color: blue; */


                width: 100%;

                >textarea {
                    width: 100%;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 10px;
                    color: #fff;
                    margin: 0 0 8px 0;
                    padding: 18px 26px;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                    transition: 0.3s ease-in-out;


                    width: 99% !important;
                    height: calc(100% + 40px) !important;

                    margin: 3px 2px;
                    padding: 10px;
                    font-size: 10px;
                    font-weight: 300;
                }

                textarea:focus {
                    background: rgba(255, 255, 255, 1);
                    color: black;
                    
                }

                textarea:focus::placeholder{
                    color: black;
                }
            }

            .contact-box-form-button {
                button {
                    margin-top: 50px;
                    background-color: white;
                    border-radius: 0px;
                    background: linear-gradient(to right, black 50%, white 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    transition: all .5s ease-out;
                    border: 1px solid white;
                    font-weight:400;
                }

                button:hover {

                    background-position: left bottom;
                }
            }
        }
    }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

/*Tablet*/
@media only screen and (min-width: 640px) {
    .contact {
        background: linear-gradient(90.21deg, #ffff63 -5.91%, #900018 80.58%);
        /* padding: 60px 0 200px 0; */
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .contact-box {
            display: flex;
            /* background-color: #900018; */
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: row;

            .contact-box-img {
                /* background-color: aliceblue; */
                width: 45%;

                img {
                    width: 90%;
                }
            }

            .contact-box-form {
                width: 50%;
                background-color: none;
            }
        }
    }
}

/*Laptop*/
@media only screen and (min-width: 1024px) {
    .contact {
        background: linear-gradient(90.21deg, #ffff63 -5.91%, #900018 80.58%);
        /* padding: 60px 0 200px 0; */
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .contact-box {
            display: flex;
            /* background-color: #900018; */
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: row;

            .contact-box-img {
                /* background-color: aliceblue; */
                width: 50%;

                img {
                    width: 90%;
                }
            }

            .contact-box-form {
                width: 50%;
                background-color: none;
            }
        }
    }

}

/*Desktop*/
@media only screen and (min-width: 1280px) {
    .contact {
        background: linear-gradient(90.21deg, #ffff63 -5.91%, #900018 80.58%);
        /* padding: 60px 0 200px 0; */
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .contact-box {
            display: flex;
            /* background-color: #900018; */
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: row;

            .contact-box-img {
                /* background-color: aliceblue; */
                width: 50%;

                img {
                    width: 90%;
                }
            }

            .contact-box-form {
                width: 50%;
                background-color: none;
            }
        }
    }

}